<!-- tag::allButValidation[] -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>

  <body>

    <form method="POST" th:action="@{/logout}" id="logoutForm">
      <input type="submit" value="登出"/>
    </form>

    <form method="POST" th:action="@{/orders}" th:object="${order}" id="orderForm">
      <h1>订购您的Taco!</h1>

      <img th:src="@{/images/TacoCloud.png}"/>
      <h3>您订单中的tacos:</h3>
      <a th:href="@{/design}" id="another">设计另一个taco</a><br/>
      <ul>
        <li th:each="taco : ${order.tacos}"><span th:text="${taco.name}">taco name</span></li>
      </ul>

      <h3>将我的Taco卷饼送到...</h3>
      <label for="deliveryName">姓名: </label>
      <input type="text" th:field="*{deliveryName}"/>
      <br/>

      <label for="deliveryStreet">街道地址: </label>
      <input type="text" th:field="*{deliveryStreet}"/>
      <br/>

      <label for="deliveryCity">城市: </label>
      <input type="text" th:field="*{deliveryCity}"/>
      <br/>

      <label for="deliveryState">状态: </label>
      <input type="text" th:field="*{deliveryState}"/>
      <br/>

      <label for="deliveryZip">邮政编码: </label>
      <input type="text" th:field="*{deliveryZip}"/>
      <br/>

      <h3>这是我要付款的方式...</h3>
      <label for="ccNumber">信用卡 #: </label>
      <input type="text" th:field="*{ccNumber}"/>
      <br/>

      <label for="ccExpiration">到期日: </label>
      <input type="text" th:field="*{ccExpiration}"/>
      <br/>

      <label for="ccCVV">CVV: </label>
      <input type="text" th:field="*{ccCVV}"/>
      <br/>

      <input type="submit" value="提交订单"/>
    </form>

  </body>
</html>

